<h4>Mark Physical Object Found</h4>
<%= form_tag @physical_object, url: update_mark_found_url do |f| %>
<table>
	<tbody>
	<tr>
		<th>Scan IU Barcode</th>
		<td>
      <%= text_field_tag :iu_barcode, "", class: "iu_barcode" %>
		</td>
	</tr>
	</tbody>
</table>
<% end %>
<% if (@po_returns && @po_returns.size > 0) || (@po_injects && @po_injects.size > 0) %>
  <div class="notice">
    This following Physical Objects have been updated:
    <ul>
      <% @po_returns.each do |p| %>
      <li><%= p.iu_barcode %> moved to: <%= p.current_workflow_status.status_name %></li>
      <% end %>
      <% @po_injects.each do |p| %>
        <li><%= p.iu_barcode %>: <%= p.current_workflow_status.status_name %> for <i><%= p.active_component_group.title.title_text %></i> - Deliver to <%= p.active_component_group.humanize_delivery_location %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<div id="finder_table">

</div>

<script type="text/javascript" charset="utf-8">


  let scan_barcodes = [];
	$(document).ready(function() {
	    hookBarcodeValidators();
	    $('#iu_barcode').on("input", function() {
        $('.notice').remove();
          let bc = $('#iu_barcode').val();
          let lookup_url = "./ajax_mark_found_lookup/"+bc;
          if (isValidBarcode(bc, false) && !scan_barcodes.includes(bc)) {
              $.ajax({
                  url: "./ajax_mark_found_lookup/",
                  method: "GET",
                  data: {
                      'iu_barcode' : bc,
                      "scan_barcodes": JSON.stringify(scan_barcodes)
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                      swal({
                          title: 'Ajax Error',
                          text: 'An error occurred while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
                      }, function () {
                          window.location.replace(lookup_url)
                      });
                  },
                  success: function (result) {
                      if (result.success) {
                          scan_barcodes.push(bc)
                          ajaxLoadSelectionTable();
                      } else {
                          swal({
                              title: "Cannot Add Physical Object",
                              text: result.msg
                          })
                      }

                  },
                complete: function () {
                  $('#iu_barcode').val('');
                }
              });
          }
       })
	});
	function ajaxLoadSelectionTable() {
      $.ajax({
          url: './ajax_load_found_selection_table',
          method: "GET",
          data: {
              scan_barcodes: JSON.stringify(scan_barcodes)
          },
          error: function (jqXHR, textStatus, errorThrown) {
              swal({
                  title: 'Ajax Error',
                  text: 'An error occurred while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
              }, function () {
                  //window.location.replace(lookup_url)
              });
          },
          success: function (result) {
            $('#finder_table').replaceWith(result);
            // remove the CG table because contents have changed
            $('#cg_div').html("");
            //hookInjectables();
            hookFormSubmit();
          }
      })
  }

	function removeBadBcs(bcs) {
	    for (let i = 0; i < bcs.length; i++) {
          let index = scan_barcodes.indexOf(bcs[i]);
          scan_barcodes.splice(index, 1);
      }
  }

  function removePO(po_id) {
      let tr = $("tr#po_"+po_id)
      let remove_bc = $("tr#po_"+po_id+" > td:first-child").text();
      removeBadBcs([remove_bc])
      tr.remove();
      //loadCgTable();
  }

  function hookInjectables() {
      $('.injectable').off("change").on("change",
        function() {
          loadCgTable();
        }
      );
      $('.returnable').off("change").on("change", function() {
      	loadCgTable();
      });
  }
  function loadCgTable() {
	  let ids = [];
	  $('.injectable:checked').each( function() {
		  ids.push($(this).attr('data-po-id'))
	  });
    $.ajax({
	    url: './ajax/load_found_cg_table',
	    method: "GET",
	    data: {
		    ids: JSON.stringify(ids)
	    },
	    error: function (jqXHR, textStatus, errorThrown) {
		    swal({
			    title: 'Ajax Error',
			    text: 'An error occurred while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
		    }, function () {
			    //window.location.replace(lookup_url)
		    });
	    },
	    success: function (result) {
        $('#cg_div').replaceWith(result);
        $('.cg_type').change(function() {
	        setLocationOptions($(this).val());
        });
		    setLocationOptions($('.cg_type > option')[0].text);
		    hookFormSubmit();
	    }
    });
  }

  function setLocationOptions(option) {
    let vals = fdb_location_map[option];
    $('.location_select').each(function () {
    	let sel = $(this);
    	sel.html('');
      for (let i = 0; i < vals.length; i++) {
        sel.append($('<option>', { value : vals[i] }).text(vals[i]));
      }
    })
  }

  function hookFormSubmit() {
		$('form').off("submit").submit(function(event) {
      let po_count = $('.choice').size();
      let checked = $('.injectable:checked').size() + $('.returnable:checked').size();
      if (po_count !== checked) {
      	event.preventDefault();
      	swal({
          title: "Error",
          icon: "error",
          text: "You must select 'Inject into workflow' or 'Return to storage' for every Physical Object."
        });
      }
    });
  }

</script>