<% if @paginate %>
	<%= render partial: 'paginator' %>
<% end %>
<table border="1">
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Title(s)</th>
    <th>Filmdb Location</th>
		<th>ALF Reported Location</th>
		<th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @physical_objects.each do |physical_object| %>
	<%
		status = status_from_itemloclist(physical_object.iu_barcode)
		# on the filter page, we need to special case Queued For Pull Request as it is not a physical location
		conflict = !AlfHelper.equivalent_statuses?(status, physical_object.current_workflow_status.status_name) && physical_object.current_workflow_status.status_name != WorkflowStatus::QUEUED_FOR_PULL_REQUEST
	%>
    <tr class=<%= "digitized_tr" if physical_object.digitized? %>>
      <td>
	      <%= link_to physical_object do %>
		      <%= physical_object&.iu_barcode %> <br/><%= physical_object&.mdpi_barcode %>
	      <% end %>
      </td>
      <td class="title_td">
        <% physical_object.titles.each do |t| %>
		      <%= link_to "#{t.title_text}", title_path(t) %> <br>
	      <% end %>
      </td>
      <td class="<%= conflict ? "warning" : "" %>" >
				<%= physical_object.current_workflow_status.type_and_location %>
			</td>
			<td class="<%= conflict ? "warning" : "" %>">
				<%= status %>
			</td>
      <td>
        <%= link_to 'Show', physical_object %> <br/>
				<%= link_to 'Edit', edit_physical_object_path(physical_object) %>
				<% if conflict && policy(User).can_change_location? %>
					<br>
					<%= link_to 'Change Location', correct_location_path %>
				<% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if @paginate %>
	<%= render partial: 'paginator' %>
<% end %>