<% # maps iu barcodes to the CS response json %>
<% map = @pull_request.cs_po_map %>
<% any_denied = map.values.any?{|v| v["deny"] == "Y"} %>
<p>This pull request was made against ALF's new inventory software, CaiaSoft. Below is the status of the pull request</p>
<% if @pull_request.caia_soft_upload_success %>
  <p>CaiaSoft successfully received the pull request</p>
    <table>
      <tr>
        <th>IU Barcode</th>
        <th>Title</th>
        <th>Pull Request Status</th>
        <th>Reason if Denied</th>
        <th>Filmdb Last Storage Location</th>
        <th><i>Current</i> ALF Reported Location</th>
      </tr>
      <% @pull_request.physical_objects.each do |p| %>
        <% denied = (map[p.iu_barcode] != nil && map[p.iu_barcode]["deny"]) == "Y" %>
        <% cl = denied ? "warning" : ""%>
        <tr>
          <td><%= link_to "#{p.iu_barcode}", physical_object_path(p) %></td>
          <td><%= p.titles_text %></td>

          <% # special case Freezer items %>
          <td class="<%= cl %>"><%=  denied ? "Denied" : "Accepted" %></td>
          <% if denied && WorkflowStatus.is_freezer_storage?(p.storage_location) %>
            <td class="<%= cl %>"><%= p.current_location %> - IULMIA Staff Pull</td>
          <% else %>
            <td class="<%= cl %>"><%= map[p.iu_barcode]["istatus"] if denied %></td>
          <% end %>
          <% if WorkflowStatus.is_freezer_storage?(p.storage_location) %>
            <td class="warning"><%= p.last_known_storage_location %> - IULMIA Staff Pull</td>
          <% else %>
            <td><%= p.storage_location %></td>
          <% end %>


          <td><%= status_from_itemloclist(p.iu_barcode) %></td>
        </tr>
      <% end %>
    </table>
<% else %>
  <p class="warning">CaiaSoft did not receive the Pull Request. If this problem persists. Please contact Carmel or Andrew.</p>
<% end %>

