<h4>Physical Objects in transit from storage (Pull Requested)</h4>
<table>
	<tr>
		<th>Barcode</th>
		<th>Title</th>
		<th>Pull Request Date - Pulled By</th>
		<th>Alf Reported Location</th>
		<th>Action</th>
	</tr>
	<% @physical_objects.each do |p| %>
		<tr>
			<td><%= link_to p.iu_barcode, physical_object_path(p) %></td>
			<td><%= p.titles_text %></td>
			<td>
				<% if p.active_pull_request %>
					<%= p.active_pull_request.created_at.strftime("%m/%d/%Y")  %> - <%= p.active_pull_request.requester.username %>
				<% else %>
					<span class="red">No Pull Request object found!</span>
				<% end %>
			</td>
			<% status = status_from_itemloclist(p.iu_barcode) %>
			<td class="<%= status != "Out on Physical Retrieval" ? "warning" : "" %>">
				<%= status %>
			</td>
			<td>
				<%= link_to 'Cancel Pull Request', process_cancel_after_pull_request_path(p), method: :post %>
				<% if p.active_pull_request %>
				| <%= link_to 'View Pull Request', show_pull_request_path(p.active_pull_request), method: :get %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>