<h4>Scan an IU Barcode to Return Item to Storage</h4>
<%= form_for 'physical_object', { url: process_return_to_storage_path, html: { "id": "return_form" } } do |f| %>
    <table>
      <tr>
        <th>Scan IU Barcode</th>
        <td><%= f.text_field :iu_barcode, class: 'ajax_barcode_lookup' %></td>
      </tr>
      <tr>
	      <th>Return to:</th>
	      <td>
		      <%= f.select :location, [[nil, nil]] %>
	      </td>
      </tr>
	    <tr>
        <td><%= f.submit 'Mark Returned' %> </td>
        <td id="ajax_show_storage_message"></td>
      </tr>
			<tr id="msg" class="error">
				<td colspan="2"></td>
			</tr>
    </table>
<% end %>
<script type="text/javascript" charset="utf-8">
	let valid_locations = [];

	$(document).ready(function() {
		$("#return_form").submit(function(e) {
			if (!validateIUBarcode($('.ajax_barcode_lookup'))) {
				swal({
					title: "Invalid Barcode",
					text: $('.ajax_barcode_lookup').val()+" is not a valid barcode. Please rescan."
				});
				return false;
			} else if (valid_locations.length == 0) {
				return false;
			} else if (!valid_locations.includes($('#physical_object_location').find(":selected").text())) {
				swal({
					title: "Invalid Storage Location",
					text: "The selected storage location is not valid for the current state of the Physical Object"
				});
				return false;
			}
		});
		$('.ajax_barcode_lookup').bind('input', function () {
			$('p.warning').remove();
			$('p.notice').remove();
			$('#ajax_show_storage_message').html('');
			let valid = validateIUBarcode($(this));
			if (valid) {
				let url = '../workflow/ajax_show_storage_location/' + $(this).val();
				$.ajax({
					url: url,
					error: function(jqXHR, textStatus, errorThrown) {
						swal({
							title: 'Ajax Error',
							text: 'An error occurred while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
						}, function() {
							window.location.replace(url)
						});
					},
					success: function (json) {
						// reset options for the select
						clearLocations();
						valid_locations = json["locations"]
						valid_locations.forEach(function(val) {
							$("#physical_object_location").append('<option value="' + val + '">' + val + '</option>')
						})

						// highlight warning if necessary
						let msg_el = $("#ajax_show_storage_message");
						if (json["warn"] && json["warn"].length > 0) {
							msg_el.addClass("warn");
							msg_el.text(json["warn"])
						} else if (json["notice"] && json["notice"].length > 0) {
							msg_el.removeClass("warn");
							msg_el.addClass("noti")
							msg_el.text(json["notice"])
						} else {
							msg_el.removeClass("warn");
							msg_el.removeClass("noti")
							msg_el.text(json["msg"]);
						}
					}

				});
			} else {
				clearLocations();
			}
		});
	})

	function clearLocations() {
		valid_locations = [];
		$("#physical_object_location > option").remove();
		$("#ajax_show_storage_message").removeClass("warn").removeClass("noti")
	}

</script>

<h4 class="m_bottom_10px">Physical Objects <i>On Site</i></h4>
<%= render partial: 'physical_objects_table' %>