<div class="clear">
  <%= link_to 'Edit', edit_series_path(@series) %> |
  <%= link_to 'Back', url_for(:back) %> |
  <%= link_to 'Inventory This Series', series_new_physical_object_path(@series) %>
</div>
<div id="whodoneit">
  <div><b>Creator</b></div><div><%= @series.creator&.name %></div>
  <div><b>Last Modified By</b></div><div><%= @series.modifier&.name %></div>
</div>
<%= render partial: 'show' %>
<h4>Titles in this Series</h4>
<table>
  <tbody>
  <tr><th>Title</th><th>Series Part</th></tr>
<% if @series.titles.size > 0 %>
    <% @series.titles.order(:title_text).each do |t| %>
        <tr>
          <td><%= link_to "#{t.title_text}", title_path(t) %></td><td><%= t.series_part %></td>
        </tr>
    <% end %>
<% else %>
    none
<% end %>
  </tbody>
</table>

