<!--<h4>Create New Pull Request</h4>-->
<% url = (action_name == 'new') ? create_title_component_group_path(@title) : update_component_group_path(@title, @component_group) %>
<%= form_for @component_group, url: url do |f| %>
  <%= f.hidden_field :title_id %>
  <table>
    <tbody>
    <tr>
      <th>Delivery Location</th>
      <td colspan="9">
        <%= f.select :group_type, options_for_select([["Wells", ComponentGroup::WORKFLOW_WELLS], ["ALF", ComponentGroup::WORKFLOW_ALF]]) %>
      </td>
    </tr>
    <tr>
      <th>Comment</th>
      <td colspan="9">
        <%= f.text_area :group_summary %>
      </td>
    </tr>
    <tr>
      <th>Barcode</th>
      <th>Gauge/Format</th>
      <th>Generation</th>
      <th>Filmdv Location</th>
      <th>ALF Location</th>
      <th>Digitized?</th>
    </tr>
    <% @title.physical_objects.each do |p| %>
    <% p = p.specific %>
    <%
      alf_status = status_from_cs_response(p.iu_barcode)
      in_alf = alf_status == AlfHelper::IN_ALF
      freezer_item = p.current_workflow_status.is_freezer_storage?
      fdb_in = (p.current_workflow_status.status_name == WorkflowStatus::IN_STORAGE_INGESTED)
      fdb_in_awaiting = (p.current_workflow_status.status_name == WorkflowStatus::IN_STORAGE_AWAITING_INGEST)
      can_pull = in_alf || freezer_item || fdb_in_awaiting
    %>
      <tr class=<%= "digitized_tr" if p.digitized? %>>
        <% if !can_pull  %>
          <td class="warning"><%= p.iu_barcode %></td>
        <% else %>
          <td class="<%= @active && @component_group.physical_objects.include?(p) ? 'dont_uncheck' : ''%>">
            <% if can_pull %>
              <%= check_box_tag "component_group[component_group_physical_objects][#{p.acting_as.id}][selected]", '',
                                @component_group.physical_objects.include?(p), data: {"medium": p.medium}, class: 'po_select',
                                disabled: false, title: p.medium
              %>
            <% else %>
              <span class="red_red"><b>Can't Pull</b></span>
            <% end %>
            <%= link_to p.iu_barcode, physical_object_path(p.acting_as) %>
          </td>
        <% end %>
        <td><%= p.medium_name %></td>
        <td><%= p.humanize_boolean_generation_fields %></td>

        <% # determine if theres a problem in Filmdb %>
        <% if !can_pull%>
            <td class="warning"><%= p.current_location %></td>
        <% else %>
          <td><%= p.current_location %></td>
        <% end %>

        <% if (!can_pull && in_alf) || (fdb_in && !in_alf) %>
          <td class="warning"><%= alf_status %></td>
        <% else %>
          <td><%= alf_status %></td>
        <% end %>


        <% if p.digitized? %>
          <td><%= link_to "Yes", digiprovs_path(p.acting_as)%></td>
        <% else %>
          <td><%= p.digitized.nil? ? "N/A" : p.digitized %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= f.submit "Queue for Pull Request" %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
<script type="text/javascript" charset="utf-8">
    var lastChecked = null;
    $(document).ready(function() {
        $('input:checkbox').click(function(e) {
            if (!lastChecked) {
                lastChecked = this;
                dontUncheck();
                return;
            }
            if (e.shiftKey) {
                let start = $('input:checkbox').index(this);
                let end = $('input:checkbox').index(lastChecked);
                $('input:checkbox').slice(Math.min(start, end), Math.max(start,end) + 1).prop('checked', lastChecked.checked)
            }
            lastChecked = this;
            dontUncheck();
        });

        $('#component_group_group_type').change(function() {
            let sel = $('#component_group_group_type option:selected')
            if (sel.val().includes('MDPI')) {
                disableNonFilm();
            } else {
                enableNonFilm();
            }
        });
        $(".new_component_group").submit(function(e) {
            if ($("#component_group_group_summary").val().trim().length == 0) {
                e.preventDefault();
                swal({
                    title: 'Summary Required',
                    text: 'A Pull Request Summary is required.'
                });
                return false;
            } else if ($("input:checkbox:checked").length == 0) {
                e.preventDefault();
                swal({
                    title: "No Physical Objects Selected",
                    text: "You must select at least 1 Physical Object for a Pull Request"
                })
                return false;
            }
        });
    })
    function disableNonFilm() {
        $('.po_select[data-medium!="Film"]').prop("checked", false).prop('disabled', true).attr("title", "Only Films can be added to MDPI Component Groups")
    }
    function enableNonFilm() {
        $('.po_select[data-medium!="Film"]').prop('disabled', false).attr("title", '');
    }
    function dontUncheck() {
        $('.dont_uncheck input:checkbox').prop('checked', true)
    }
</script>